<br>
<div class="row center-align">
  <h3>Welcome to the Idea Box</h3>
  <br>
  <p>Please use the links below to create a new user or login.</p>
  <p>The administrator account details are "admin@admin.com" password "adminpass".</p>
  <p>A populated user account can be accessed with "OllieWilliams@fox.com" and password "ollie".</p>
<%= link_to 'Login', login_path %>
<br>
<%= link_to 'Signup', signup_path %>
</div>
