<nav>
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">IdeaBox</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><%= link_to 'Ideas', ideas_path %></li>
      <li class="active"><%= link_to 'Categories', categories_path %></li>
      <li><%= link_to 'Images', ideas_path %></li>
      <li><%= link_to 'TBI', ideas_path %></li>
    </ul>
  </div>
</nav>
